.card{
    
    height:450px;
    width:350px;
    

}
.bg-image {
    background-image: url("src/assets/images/veg1.jpg");
    height: 200vh;
  }
.container{
    padding-top: 50px;
}
.row{
    row-gap: 25px;
    column-gap: 25px;
}
