<div class="bg-image shadow-2-strong" >
<div class="container px-4">
<div class="row gx-5">
<div class="card" *ngFor="let veg of vegDetails">
<mat-card class="example-card">
    <mat-card-header>
      <div class="card-header">
      <mat-card-title>{{veg.name}}</mat-card-title>
      </div>
    </mat-card-header>
    <div class="card-body">
    <mat-card-subtitle>{{veg.category}}</mat-card-subtitle><br>
    <img mat-card-image [src]="veg.image" class="w-75 rounded-4 shadow-4">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">View Details</button>
      <button mat-button color="primary">Add to cart</button>
    </mat-card-actions>
    </div>
  </mat-card>
</div>
</div>
</div>
</div>